{% extends "layout.html" %}
{% block content %}
    <div class="header">
        <h1>StockRabbit 🐇</h1>
        <h2>Stock Market Simulation Tool</h2>
    </div>

    <div class="content">
        <h2 class="content-subhead">Welcome!</h2>
        <p>
            Welcome to StockRabbit stock simulation! Currently running on {{ container }}.
        </p>
        <p>
            To start, select what strategy you want to analyze, from the form on the left.
        </p>
        
    </div>
{% endblock %}